@font-face {
    font-family: Inter;
    src: url(fonts/Inter-Regular.ttf);
}
*{
    color: white;
}
html, body {
    background-color: black;
    min-height: 100%;
    min-width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Inter;
    font-style: italic;
    user-select: none;
    overflow-x: hidden;
}

.ml {
    position: relative;
    margin-left: -675px;
}

#header {
    margin-left: -7px;
    border-radius: 5px;
    border-bottom: solid goldenrod;
    position: fixed;
    top: 0;
    min-width: 200%;
    margin-bottom: 60px;
    background-color: black;
    z-index: 3;
    text-align:center
}
.logo {
    font-size: 48px;
    color: white;
    margin-left: 98px;
    margin-top: 33px;
    margin-right: 108px;
    display:inline;
}
#header h2 {
    font-size: 24px;
    color: white;
    bottom: 30;
    margin-right: 42px;
    display:inline;
}

#page1 {
    min-width: 100%;
    height: 700px;
    background-color: rgba(0,0,0,1);
    margin-left: 200px;
    margin-top: 60px;
    margin-right: 300px;
    position: relative;
    z-index: 2;
    left: 50%;
}
.leftblock {
    float: left;
    width: 600px;
}
.title {
    width: 600px;
    font-size: 48px;
    position: absolute;
}
.titledesc {
    position: absolute;
    width: 540px;
    height: 80px;
    font-size: 24px;
    margin-top: 220px;
}
.titleimage {
    float: left;
    margin-top: 15px;
    width: 400px;
    height: 500px;
}
#page1 h5 {
    margin-top: 435px;
    margin-left: 20px;
    position: absolute;
}

#page2 {
    min-width: 100%;
    min-height: 700px;
    background-color: rgba(0,0,0,1);
    margin-bottom: 15px;
    margin-left: 200px;
    margin-right: 300px;
    position: relative;
    z-index: 2;
    left: 50%;
}
.title2 {
    padding-top: 75px;
    margin-left: 385px;
    font-size: 48px;
}
#block1 {
    border: thick double;
    border-color: goldenrod;
    border-radius: 2px;
    float:left;
    width: 320px;
    height: 380px;
    background-color: white;
    display:block;
}
#block2 {
    border: thick double;
    border-color: goldenrod;
    border-radius: 2px;
    float:left;
    width: 320px;
    height: 380px;
    background-color: white;
    display: none;
}
#block3 {
    border: thick double;
    border-color: goldenrod;
    border-radius: 2px;
    float:left;
    margin-left: 300px;
    width: 320px;
    height: 380px;
    background-color: white;
    display:block;
}
#block4 {
    border: thick double;
    border-color: goldenrod;
    border-radius: 2px;
    float:left;
    margin-left: 300px;
    width: 320px;
    height: 380px;
    background-color: white;
    display:none;
}
.blockimg {
    position: absolute;
    width: 220px;
    height: 220px;
    margin-left: 50px;
    margin-top: 10px;
}
.blockdesc {
    position: absolute;
    color: black;
    width: 295px;
    height: 115px;
    margin-top: 240px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
}
.blockw {
    position: absolute;
    font-size: 16px;
    float:left;
    margin-left: 20px;
    color: black;
    margin-top: 340px;
}
.blockprice {
    position: absolute;
    font-size: 16px;
    float:left;
    margin-left: 245px;
    color: black;
    margin-top: 340px;
}
.nextbutton {
    cursor: pointer;
    overflow: visible;
    float: left;
    position: absolute;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    margin-top: 400px;
    text-align: center;
    font-size: 30px;
    color:black;
    font-style: italic;
    margin-left: -30px;
    background-color: #d5d818 !important; width: 350px; height: 64px; border-radius: 20px;
}

#page3 {
    min-width: 100%;
    min-height: 700px;
    background-color: rgba(0,0,0,1);
    margin-bottom: 15px;
    margin-left: 200px;
    margin-right: 300px;
    position: relative;
    z-index: 2;
    left: 50%;
}
#sale1 {
    float:left;
    margin-top: 60px;
    width: 380px;
    height: 260px;
    background-color: #D9D9D9;
    border: thick double;
    border-color: goldenrod;
    border-radius: 2px;
}
#sale2 {
    float:left;
    margin-top: 60px;
    margin-left: 180px;
    width: 380px;
    height: 260px;
    background-color: #D9D9D9;
    border: thick double;
    border-color: goldenrod;
    border-radius: 2px;
;
}
.saleimage {
    position: absolute;
    width: 230px;
    height: 180px;
    margin-left: 130px;
    margin-top: 10px;
}
.saleinfo {
    position: absolute;
    word-break: break-all;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 24px;
    color: black;
    width: 105px;
    height: 100px;
}
.salebottom {
    position: absolute;
    margin-left: 130px;
    margin-top: 200px;
    font-size: 24px;
    color: black;
}

#page4 {
    min-width: 100%;
    min-height: 700px;
    background-color: rgba(0,0,0,1);
    margin-bottom: 15px;
    margin-left: 0;
    border-left: 0;
    padding-left: 0;
    position: relative;
    z-index: 2;
    left: 50%;
}
.ordtitle {
    float:left;
    position: absolute;
    font-size: 40px;
    margin-left: 160px;
    margin-top: 80px;
    color: white;
    width: 360px;
    height: 100px;
    word-break: normal;
}
.orddesc {
    float:left;
    position: absolute;
    font-size: 24px;
    margin-left: 160px;
    margin-top: 200px;
    color: white;
    width: 300px;
    height: 100px;
}

#page5 {
    min-width: 100%;
    min-height: 700px;
    background-color: rgba(0,0,0,1);
    margin-bottom: 15px;
    margin-left: 200px;
    margin-right: 300px;
    position: relative;
    z-index: 2;
    left: 50%;
}
.revleftblock {
    width: 300px;
    height: 300px;
    float: left;
}
.revrightblock {
    float: left;
    width: 300px;
    height: 300px;
    margin-left: 50px;
}
.circle {
    float: left;
    margin-top: 20px;
    position: absolute;
    width: 50px;
    height: 50px;
}

#page6 {
    min-width: 100%;
    min-height: 700px;
    background-color: rgba(0,0,0,1);
    margin-bottom: 15px;
    margin-left: 200px;
    margin-right: 300px;
    position: relative;
    z-index: 2;
    left: 50%;
}
.contleftblock {
    width: 400px;
    height: 300px;
    float: left;
}
.contrightblock {
    float: left;
    width: 300px;
    height: 300px;
    margin-left: 100px;
}
#contactform {
    overflow: visible;
    float: left;
    position: absolute;
    margin-top: 90px;
    font-size: 30px;
    color: white;
    font-style: italic;
    background-color: rgba(0,0,0,1);
    width: 400px; height: 64px; border-radius: 20px;
}
#contactform2 {
    overflow: visible;
    float: left;
    position: absolute;
    margin-top: 90px;
    font-size: 30px;
    color: white;
    font-style: italic;
    background-color: rgba(0,0,0,1);
    width: 400px; height: 64px; border-radius: 20px;
}
#successicon {
    float: left;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 400px;
    margin-left: 420px;
    display: none;
}
.links {
    width: 55px;
    height: 55px;
    float: left;
    position: absolute;
    margin-top: 390px;
    margin-left: 20px;
}

a.mainbutton {
    float: left;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    margin-top: 330px;
    margin-left: 20px;
    text-align: center;
    padding-top: 32px;
    font-size: 30px;
    color:black;
    background-color: #d5d818 !important; width: 350px; height: 64px; border-radius: 20px;
}
a:link {
    color:none;
    text-decoration: none;
}
a:visited {
    color:none;
    text-decoration: none;
}
a:active {
    color:none;
    text-decoration: none;
}
