@font-face {
    font-family: Inter;
    src: url(fonts/Inter-Regular.ttf);
}
*{
    color: white;
}
html, body {
    background-color: black;
    min-height: 1000%;
    min-width: 1280px;
}
#header {
    user-select: none;
    margin-top:-9px;
    height: 60px;
    background-color: black;
}
#content {
    padding: 10px;
}
#footer {

}
.logo {
    user-select: none;
    font-family: Inter;
    font-style: italic;
    font-size: 48px;
    color: white;
    margin-left: 98px;
    margin-top: 33px;
    margin-right: 108px;
    display:inline;
}
.title {
    font-family: Inter;
    font-style: italic;
    font-size: 48px;
    margin-left: 200px;
    margin-top: 144px;
}
#header h2 {
    user-select: none;
    font-family: Inter;
    font-style: italic;
    font-size: 24px;
    color: white;
    bottom: 30;
    margin-right: 42px;
    display:inline;
}
.sticky {
    position: fixed;
    top: 7px;
    min-width: 1280px;
    width: 100%;
}
.sticky + #content {
    padding-top: 102px;
}