@font-face {
    font-family: Inter;
    src: url(fonts/Inter-Regular.ttf);
}
*{
    color: white;
}
html, body {
    background-color: black;
    min-height: 1000%;
    min-width: 1280px;
}
#header {
    user-select: none;
    top: 0;
    height: 60px;
    background-color: black;
}
#page1 {
    background-color: rgba(0,0,0,1);
    padding: 10px;
}
#footer {

}
.logo {
    user-select: none;
    font-family: Inter;
    font-style: italic;
    font-size: 48px;
    color: white;
    margin-left: 98px;
    margin-top: 33px;
    margin-right: 108px;
    display:inline;
}
.title {
    width: 540;
    height: 200;
    font-family: Inter;
    font-style: italic;
    font-size: 48px;
    margin-left: 200px;
    margin-top: 144px;
    margin-right: 112px;
    float:left;
}
.titledesc {
    width: 550px;
    height: 80px;
    font-family: Inter;
    font-style: italic;
    font-size: 24px;
    margin-left: 200px;
    margin-top: 10px;
    float:left;
}
.titleimage {
    float: right;
    margin-top: 52px;
    width: 400px;
    height: 500px;
}
h2 {
    user-select: none;
    font-family: Inter;
    font-style: italic;
    font-size: 24px;
    color: white;
    bottom: 30;
    margin-right: 42px;
    display:inline;
}
.sticky {
    position: fixed;
    min-width: 1280px;
    width: 100%;
}
.sticky + #content {
    padding-top: 102px;
}
a:link {
    color:none;
    text-decoration: none;
}
a:visited {
    color:none;
    text-decoration: none;
}
a:active {
    color:none;
    text-decoration: none;
}